language: c

before_install:
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq avrdude avrdude-doc binutils-avr avr-libc gcc-avr gdb-avr

env:
  - TEST_DIR=avrLEDcontrol
  - TEST_DIR=readAnalog-writeToLCD
script: cd $TEST_DIR && make
